*{
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #ecf0f1;
	padding: 0px auto;
	margin: 0px auto;

}

table, th, tr {
border: 1 solid blue;
}

li{ 
 display: inline-block;
padding: 0px;
}

a{
 text-decoration: none;
}

}
footer{
	text-align: center;
	color: blue;
}
